body {
	background: url(../assets/img-background.png)
	 no-repeat center top ;
	background-size: cover;
	font-family:  sans-serif;
}
.login-box {
	width:  60%;
	/*height: 60%;*/
	height: auto;
	background:  white;
	top: 50%;
	border-left: 100px;
	border-color: blue;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 30px;
	text-align: center;
}
.login-box .avatar{
	width:  100px;
	height: 100px;
	border-radius: 0%;
	position: absolute;
	top: 0px;
	left: calc(50% - 50px);
	zoom: calc(-25%);
}
.login-box h1 {
	margin-top: 2%;
	padding: 0;
	text-align: center;
	font-size: 22px;
	color: blue;
}
.login-box label{
	margin: 14px 0px 0px;
	padding: 0px;
	font-weight: bold;
	display: block;
	color: blue;
}
.login-box input{
	width: 100%;
	color: black;
	background: blue;
	justify-content: center;
}
.login-box input[type="text"],
.login-box input[type="password"]{
	/*----Textbox*/
	border-radius: 15px ;
	padding-left: 2%;
	margin-top: 20px;
	width: 40%;
	background: transparent;
	outline: grey;
	height: 40px;
	border: bold;
	font-size: 16px;
}
.login-box input[type="submit"] {
	/*----boton*/
	text-align: center;
	height: 50px;
	width: 200px;
	margin-top: 10px;
	border: none;
	outline: none;
	background: blue;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 7px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.login-box a
{
	text-decoration: none;
	font-size:  12px;
	line-height: 20px;
	color: darkgrey;
}
.login-box button{
	margin-top: 300px;
	padding: 300px;
}
.input[type="submit"] {
	text-align: center;
	height: 10%;
	width: 30%;
	margin-top: 60px;
	border: none;
	outline: none;
	background: blue;
	color: white;
	font-size: 20px;
	border-radius: 7px;
	text-align: center;
	align-items: center;
}
.icon-people{
	fill: greenyellow;
	width: 32px;
	height: 32px;
	left: 220px;
	top: 150px;
	position: absolute;
}
.icon-key
{
	fill: greenyellow;
	width: 32px ;
	height: 32px;
	left: 220px;
	top: 220px;
	position: absolute;
}